body {
    color: rgb(173, 176, 190);
    background-color: rgb(4, 5, 14);
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tammudu 2', cursive;
  
    
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#yourUI {
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border: solid 3px black;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 0px;
}

#opponentUI {
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 80vw;
    text-align: center;
    border: solid 3px black;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 20px;
}


#turn {
    width: 10vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 45vw;
    border: solid 3px black;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}

#end {
    width: 40vw;
    height: 30vh;
    position: absolute;
    font-size: 3em;
    top: 40vh;
    left: 30vw;
    border: solid 3px black;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    line-height: 30vh;
}